.App {
  text-align: center;
  background-color: #121212;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details_page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 50px;
  align-items: center;
}

.image{
  width: 50%;
  height: 80%;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 50px;
}

img{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

h1, p, button{
  color: white;
}

h1{
  font-weight: 700;
}
p{
  line-height: 140%;
}

.genres{
  color: yellow;
  font-weight: 500;
}

button{
  width: 400px;
  height: 45px;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-weight: 600;
  border: 0;
}